<div class="large-3 columns">
  <h1 id='logo'>
    <%= link_to Refinery::Core.site_name, refinery.root_path %>
  </h1>
</div>

<%= Refinery::Pages::ZurbMenuPresenter.new(refinery_menu_pages, self).to_html %>
